body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #51627d;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;  
    padding: 0; 
  }
  
  .sidebar li {
    margin-bottom: 20px;  /*space */
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  
  .main-content {
    margin-left: 260px;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  